header {
    background: url('../../../../assets/images/bg.png') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    background: url('../../../../assets/images/bg_leticia.png') no-repeat;
    background-position: bottom;
    background-position-x: 200%;
    background-position-y: 200%;
    background-size: 80%;
}

img{  max-width: 100%; }
.btn {
  width: 100%;
  border-radius: 25px;
  margin: 0 auto !important;
}

.textdecor {
  width: 50%;
}

.clique {
  color: #28a745;
    font-family: 'Geller Headline';
    padding: 0px;
}

.produtosqualidade {
  color:#af6438; 
  font-family:'Geller Headline';
  padding: 30px;
}

.img1circulo {
  z-index: 10;
  top: 43%;
  position: absolute;
  float: left;
  left: 22%;
}

.aumentaenergia {
    background-color: #af6438; 
    width: 100%;
    color:white; 
    padding: 180px 30px 30px 30px; 
    position: relative; 
    margin-top: 200px;
    margin-bottom: 120px;
}

.leticia {
  width: 100%;
  margin-top: 55px;
}

.leticia1 {
  display: none;
}

.logo-ms {
  width: 100%;
  margin-top: 30px;
  padding: 0px;
}


@media (min-width: 1200px) {
  
  .logo-kv{
    width: 60%;
    margin: 0 auto !important;
  }
  .text-img{
    width: 80%;
    margin: 0 auto !important;
  }
  .btn-kv-right{
    width: 80%;
    font-size: 2rem !important;
  }
  .btn{
    font-size: 1.5rem;
  }
}

@media (max-width: 1200px) {

  header {
    background: url('../../../../assets/images/bg_leticia.png') no-repeat;
    background-position-x: 350px;
    background-position-y: 170%;
    background-size: 100%;
}
  .img1circulo {
    top: 44%;
    left: 16%;
  }

  .leticia {
    margin-top: 150px;
  }
}

@media (max-width: 991px) {

  header {
    background: url('../../../../assets/images/bg_leticia.png') no-repeat center;
    background-position-y: 800px;
    background-size: 100%;
}

  .img1circulo {
      visibility: hidden;
  }

  .leticia {
    display: none;
  }

  .leticia1 {
      display: inline-block;
      width: 50%;
      margin: 30px 0px;
  }

  .aumentaenergia {
    margin-top: 0px;
    padding-top: 30px;
    margin-bottom: 30px;
}

  .logo-ms{
    margin-top: 30px;
    width: 80%;
  }

} 
