<header id="beneficios">

    
      <img src="" alt="" class="bgleticia"/>
    

    <div class="container-lg py-4">

        <div class="row justify-content-center fluid">

            <div class="col-12 col-lg-6 col-xl-6 text-center img-fluid">

                <img src="./assets/images/logoms.png" alt="" class="logo-ms pt-4 px-3">
                <h1 class="produtosqualidade justify-content-center text-center">Produtos de Qualidade de uma vida mais saudável.</h1>
                <img src="./assets/images/text_decor.png" alt="" class="textdecor"/>
                <h3 class="clique">Clique nos pontos para ver os benefícios de uma alimentação saudável</h3>


                <div class="col-12 col-lg-6 col-xl-6 text-center img-fluid">
                  <img src="./assets/images/leticia.png" alt="" class="leticia1"/>  
                </div>

                <img [src]="item['image']" alt="" class="img1circulo text-center"/>
                
                
                  <div class="aumentaenergia">
                      <h3 class="text-white" [innerHTML]="item.titulo?.titulo1"></h3>
                        <img src="./assets/images/text_decor2.png" alt="" class="textdecor2 py-3 img-fluid" />
                        <p class="white-text mb-0 text-left" [innerHTML]="item.texto?.texto1"></p>
                  </div>

            </div>

            <div class="col-lg-6 text-center img-fluid">
                <img src="./assets/images/leticia.png" alt="" class="leticia"/>  
            </div>
          
        </div>

        
    </div>
</header>

<!--  -->
<!-- <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-4"> 
  <div class="text-center">
    <img [src]="item['left'].logo" alt="" class="logo-kv">
  </div>
  <app-youtube *ngIf="item['left'].youtube" [url]="item['left'].youtube"></app-youtube>
  <div class="text-center mt-4">
    <a [ngxScrollTo]="item['left'].urlBtn" class="btn btn-condor">
      {{item['left'].textBtn}}
    </a>
  </div>
</div>
<div class="col-12 col-md-6 col-lg-6 col-xl-6">
  <div class="text-center mb-4">
    <img [src]="item['right'].img1" alt="{{item['right'].img1Alt}}" class="text-img">
  </div>
  <div class="text-center mb-4">
    <a [ngxScrollTo]="item['right'].urlBtn" class="btn btn-condor btn-kv-right">
      {{item['right'].txtBtn}}
    </a>
  </div>
  <div class="text-center mb-4">
    <img [src]="item['right'].img2" alt="{{item['right'].img2Alt}}" class="img-fluid">
  </div>
</div> -->