#participar{
    background: url('../../../../assets/images/bg2.png') no-repeat top center;
    background-size: cover;
    height: 100%;
    padding-top: 20px;
    margin-bottom: 100px;
}

.sopaleticia {
  width: 100%;
  margin-top: 50%;
}

.sopaleticia2 {
  display: none;
}

.h2-lead{
  letter-spacing: -2px;
  margin-top: 0px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  color: #fff;
  text-shadow: 4px 4px 4px rgba($color: #000000, $alpha: .35);
}


.btn {
  background-color: #af6438;
  color: white;
}

@media(min-width: 1200px) {
  .btn{
    font-size: 2rem;
    padding: 10px;
    border-radius: 25px;
  }
}

.receita-inverno {
  background-color: #28a745;
  position: relative; 
  color: white; 
  padding:30px;
  margin-top:-50px;
}

.receita-texto {
  background-color: #28a745; 
  height:35%;
  width:100%;
  position:relative;
  color:white;
  padding:40px;
  margin-top: 50px;
}

.vermais {
  position: relative;
  color: white;
}

@media (max-width: 991px) {

  .receita-texto {
    margin-top: 0px;
  }

  .sopaleticia {
    display: none;
  }

  .sopaleticia2 {
    display: inline-block;
    width: 100%;
  }

} 

