<section id="participar" class="pt-2 pb-3">
  <div class="container-lg">


    <div class="row justify-content-center">

      <div class="col-lg-6 text-center">
                            
          <div>
                <div class="receita-inverno" >
                    <h1>Receitas de sopas low carb para o inverno</h1>
                </div>
          </div>


          <div>
              <div class="receita-texto">

                  <p>s simply dummy text of the printing and typesetting 
                  industry. Lorem Ipsum has been the industry's standard 
                  dummy text ever since the 1500s, when an unknown printer 
                  took a galley of type and scrambled it to make a type specimen 
                  book. It has survived not only five centuries, but also the leap 
                  into electronic typesetting, remaining essentially unchanged. It 
                  was popularised in the. Lorem Ipsum has been the industry's standard 
                  dummy text ever since the 1500s, when an unknown printer 
                  took a galley of type and scrambled it to make a type specimen 
                  book. It has survived not only </p>
              </div>
          </div>

      </div>

        <div class="col-lg-6 text-center">

      </div>
    
  </div>

      <!-- <h1 class="h2-lead mb-5 text-center"><span class="b-09">{{ item.titulo }}</span></h1>
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item *ngFor="let type of item.source">
              <img src="./assets/images/slide/{{type}}" alt="Slider" class="img-fluid">
            </mdb-carousel-item>
        </mdb-carousel>
        </div>
      </div> -->
    </div>

</section>

  <!-- <section class="py-5">
    <div class="container">
      <div class="text-center">
        <a [href]="item.urlBtn" class="btn btn-condor" target="_blank">{{ item.txtBtn }}</a>
      </div>
    </div>
</section> -->

<section class="fundobg pt-5">
  <div class="container">
    <div class="vermais text-center">
      <a [href]="item.link" target="_blank" class="btn rounded-pill z-depth-2">
          <h6 class="mb-0 text-uppercase b-08 py-1 px-3">Ver mais receitas</h6>
      </a>
    </div>
  </div>
</section>
