// .bg-cuidados {
//     background: url('../../../../assets/images/bg_3.png') no-repeat center center;
//     background-size: 100% 100%;
// }

.title{
    font-family: Hello, sans-serif !important;
    color: #247ff0;
    text-shadow: 1px 1px 3px rgba($color: #000000, $alpha: .40);
}
