.card-body {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1.25rem;
    min-height: 140px !important;
}


@media(max-width: 1024px) {
    .card-body {
        height: auto !important;
    }
    
} 
